/*The following section of code is for all pages*/
body {
    background-color: gold;
}
.blue {
    background-color: #003468;
    color: white;
    width: 75vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.head {
    font-size: 50px;
    font-weight: bold;
}
.header {
    border: 10px solid black;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: gold;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
    margin: 25px;
    color: black;
    text-align: center;
}
.blue-foot {
    background-color:#003468;
    color: white;
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
}
.btn {
    background-color: #003468;
    color: white;
}

.right-cont {
    display: flex;
    flex-direction: column;
}
/*The following section of code is for the home page*/
.outpage {
    background-color: gold;
    width: 420px;
    border-radius: 12px;
}
.midlink {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 45px;
}
.innerout {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    border-radius: 8px;
    height: 98%;
    width: 98%;

    text-align: center;
}
.rulink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}
.calendarlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.results {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.1rem;
    pointer-events: none;
}
/*The following section of code is for the campus tools page*/
.tools-cont {
    background-color: #003468;
    margin-bottom: 45px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}
.sol {
    width: 50%;
    border: 10px solid black;
    border-radius: 8px;
    margin-top: 25px;
}
.problems {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 20px;
}
/*The following section of code is for the wellness page*/
.welbal-cont {
    border: 5px solid black;
    margin-bottom: 45px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}
.calendar {
    background-color: #003468;
    border-radius: 8px;
    height: 500px;
    margin: 20px;
    color: white;
}
